@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <img src="/wallpaper/Product-Management-Software.jpg" alt="Alternate Text" class="img-fluid" />
    <br />
    <br />
    <a asp-controller="User" asp-action="Login" role="button" class="btn btn-primary btn-lg">Get Started</a>
    
</div>
